# Data Source

The data used in this Tableau analysis is retrieved from https://s3.amazonaws.com/tripdata/index.html web source.
The datasets used in this analysis are as follows:

* JC-202003-citibike-tripdata.csv
* JC-202002-citibike-tripdata.csv
* JC-202001-citibike-tripdata.csv
* JC-201912-citibike-tripdata.csv
* JC-201911-citibike-tripdata.csv
* JC-201910-citibike-tripdata.csv
* JC-201909-citibike-tripdata.csv
* JC-201908-citibike-tripdata.csv
* JC-201907-citibike-tripdata.csv
* JC-201906-citibike-tripdata.csv
* JC-201905-citibike-tripdata.csv
* JC-201904-citibike-tripdata.csv

# Goal

This is a small script to concatenate the data that are stored in multiple csv files into a single csv file that will serve as main dataset for Tableau analysis.
The final dataset contains 12 months worth of citibike trip data.

In [2]:
!ls

JC-201904-citibike-tripdata.csv
JC-201905-citibike-tripdata.csv
JC-201906-citibike-tripdata.csv
JC-201907-citibike-tripdata.csv
JC-201908-citibike-tripdata.csv
JC-201909-citibike-tripdata.csv
JC-201910-citibike-tripdata.csv
JC-201911-citibike-tripdata.csv
JC-201912-citibike-tripdata.csv
JC-202001-citibike-tripdata.csv
JC-202002-citibike-tripdata.csv
JC-202003-citibike-tripdata.csv
Untitled.ipynb

In [76]:
import pandas as pd
import numpy as np

## Read csv files into pandas dataframe

In [2]:
march2020 = pd.read_csv("JC-202003-citibike-tripdata.csv")
feb2020 = pd.read_csv("JC-202002-citibike-tripdata.csv")
jan2020 = pd.read_csv("JC-202001-citibike-tripdata.csv")
dec2019 = pd.read_csv("JC-201912-citibike-tripdata.csv")
nov2019 = pd.read_csv("JC-201911-citibike-tripdata.csv")
oct2019 = pd.read_csv("JC-201910-citibike-tripdata.csv")
sep2019 = pd.read_csv("JC-201909-citibike-tripdata.csv")
aug2019 = pd.read_csv("JC-201908-citibike-tripdata.csv")
jul2019 = pd.read_csv("JC-201907-citibike-tripdata.csv")
jun2019 = pd.read_csv("JC-201906-citibike-tripdata.csv")
may2019 = pd.read_csv("JC-201905-citibike-tripdata.csv")
apr2019 = pd.read_csv("JC-201904-citibike-tripdata.csv")

## Unify data into one dataframe in pairs

In [3]:
union1 = pd.concat([march2020, feb2020], ignore_index=True)
union2 = pd.concat([jan2020, dec2019], ignore_index=True)
union3 = pd.concat([nov2019, oct2019], ignore_index=True)
union4 = pd.concat([sep2019, aug2019], ignore_index=True)
union5 = pd.concat([jul2019, jun2019], ignore_index=True)
union6 = pd.concat([may2019, apr2019], ignore_index=True)
union_semi1 = pd.concat([union1, union2], ignore_index=True)
union_semi2 = pd.concat([union3, union4], ignore_index=True)
union_semi3 = pd.concat([union5, union6], ignore_index=True)
union_pre_final = pd.concat([union_semi1, union_semi2], ignore_index=True)
union_final = pd.concat([union_pre_final, union_semi3], ignore_index=True)

In [8]:
union_final = union_final.sort_values(by=["starttime"], ascending=False, ignore_index=True)

In [9]:
union_final.head(10)

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,846,2020-03-31 23:37:21.1840,2020-03-31 23:51:28.1220,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1
1,1217,2020-03-31 23:36:10.6430,2020-03-31 23:56:27.8120,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1
2,364,2020-03-31 23:17:02.0240,2020-03-31 23:23:06.8200,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1
3,147,2020-03-31 23:09:15.9690,2020-03-31 23:11:43.5310,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1
4,296,2020-03-31 22:50:39.0410,2020-03-31 22:55:35.5980,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1
5,346,2020-03-31 22:47:09.6150,2020-03-31 22:52:55.6730,3679,Bergen Ave,40.722104,-74.071455,3195,Sip Ave,40.730897,-74.063913,42398,Subscriber,1964,1
6,611,2020-03-31 22:28:41.7470,2020-03-31 22:38:53.2670,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,3185,City Hall,40.717733,-74.043845,42377,Subscriber,1967,1
7,1060,2020-03-31 22:08:27.9640,2020-03-31 22:26:08.6780,3273,Manila & 1st,40.721651,-74.042884,3694,Jackson Square,40.711130,-74.078900,42617,Customer,1969,0
8,166,2020-03-31 21:55:37.2530,2020-03-31 21:58:23.8010,3210,Pershing Field,40.742677,-74.051789,3207,Oakland Ave,40.737604,-74.052478,42244,Subscriber,1991,1
9,665,2020-03-31 21:30:44.4080,2020-03-31 21:41:50.2160,3185,City Hall,40.717733,-74.043845,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,42228,Subscriber,1967,1

In [31]:
bikeId_list = union_final.bikeid.unique()
union_final.columns

Index(['tripduration', 'starttime', 'stoptime', 'start station id',
       'start station name', 'start station latitude',
       'start station longitude', 'end station id', 'end station name',
       'end station latitude', 'end station longitude', 'bikeid', 'usertype',
       'birth year', 'gender'],
      dtype='object')

In [147]:
coordinates={}

# union_final[union_final.bikeid.unique()]
start_lat_lon = list(zip(union_final[["start station longitude", "start station latitude"]].values))
end_lat_lon = list(zip(union_final[["end station longitude", "end station latitude"]].values))

In [148]:
threeD_unique_latlon_start = np.unique(start_lat_lon, axis=0)
threeD_unique_latlon_end = np.unique(end_lat_lon, axis=0)
# 3d_unique_latlon

In [159]:
twoD_unique_latlon_start = threeD_unique_latlon_start.reshape((threeD_unique_latlon_start.shape[0], -1), order='F')
twoD_unique_latlon_end = threeD_unique_latlon_end.reshape((threeD_unique_latlon_end.shape[0], -1), order='F')
merged_lat_long = np.append(twoD_unique_latlon_start, twoD_unique_latlon_end, axis=0)

In [162]:
coords = pd.DataFrame(np.unique(merged_lat_long, axis=0), columns=["longitude", "latitude"])

In [165]:
union_final['lat'] = coords.latitude
union_final['long'] = coords.longitude

In [167]:
union_final

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,lat,long
0,846,2020-03-31 23:37:21.1840,2020-03-31 23:51:28.1220,3195,Sip Ave,40.730897,-74.063913,3193,Lincoln Park,40.724605,-74.078406,42362,Subscriber,1965,1,40.718211,-74.083639
1,1217,2020-03-31 23:36:10.6430,2020-03-31 23:56:27.8120,3267,Morris Canal,40.712419,-74.038526,3276,Marin Light Rail,40.714584,-74.042817,42115,Subscriber,1986,1,40.711130,-74.078900
2,364,2020-03-31 23:17:02.0240,2020-03-31 23:23:06.8200,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,42550,Subscriber,1986,1,40.724605,-74.078406
3,147,2020-03-31 23:09:15.9690,2020-03-31 23:11:43.5310,3640,Journal Square,40.733670,-74.062500,3206,Hilltop,40.731169,-74.057574,42110,Subscriber,1991,1,40.725726,-74.071959
4,296,2020-03-31 22:50:39.0410,2020-03-31 22:55:35.5980,3191,Union St,40.718211,-74.083639,3694,Jackson Square,40.711130,-74.078900,42145,Subscriber,1994,1,40.722104,-74.071455
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
409796,249,2019-04-01 02:19:39.4550,2019-04-01 02:23:48.5350,3273,Manila & 1st,40.721651,-74.042884,3209,Brunswick St,40.724176,-74.050656,29306,Subscriber,1984,1,NaN,NaN
409797,349,2019-04-01 01:27:54.8440,2019-04-01 01:33:44.5010,3640,Journal Square,40.733670,-74.062500,3281,Leonard Gordon Park,40.745910,-74.057271,29468,Subscriber,1969,1,NaN,NaN
409798,358,2019-04-01 01:14:42.9830,2019-04-01 01:20:41.2670,3186,Grove St PATH,40.719586,-74.043117,3214,Essex Light Rail,40.712774,-74.036486,29126,Subscriber,1969,0,NaN,NaN
409799,304,2019-04-01 00:11:51.0880,2019-04-01 00:16:55.2900,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,29594,Subscriber,1992,1,NaN,NaN
409800,181,2019-04-01 00:06:47.8570,2019-04-01 00:09:49.3220,3194,McGinley Square,40.725340,-74.067622,3280,Astor Place,40.719282,-74.071262,29529,Subscriber,1988,1,NaN,NaN

## Store unified data into final csv file.

In [166]:
union_final.to_csv("cityBike_final.csv", index=False)
# coords.to_csv("citybike_coords.csv", index=False)